services:
  - type: web
    name: autoklean-backend
    runtime: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: PYTHON_SERVICE_URL
        sync: false
      - key: BACKEND_URL
        sync: false
      - key: JWT_SECRET
        sync: false
